% include('header.tpl')

<div class="container">
	<h1>Instgram Feed Optimizer</h1>

	<div id="loader">
		Loading data	
	</div>
	<div id="result-data">
	<table id="tabledata" data-toggle="table" data-sort-name="likes_per_photo" data-sort-order="desc" data-striped="true" data-show-columns="true">
		<thead>
			<tr>
				<th data-valign="middle" data-align="center" data-field="profile_pic"></th>
				<th data-valign="middle" data-field="username" data-sortable="true">Username</th>
				<th data-valign="middle" data-field="likes_per_photo" data-sortable="true">Likes per photo</th>
				<th data-valign="middle" data-field="last_photo_time" data-sortable="true">Last photo time</th>
				<th data-valign="middle" data-field="photos_per_day" data-sortable="true">Photos per day</th>
				<th data-valign="middle" data-align="center" data-field="unfollow_button"></th>
			</tr>
		</thead>
		<tbody id="table_data">
			
		</tbody>
	</table>
	</div>
	<br>
	<span id="access_token" style="display: none;">{{ access_token }}</span>
</div>

<script>
	$(window).ready(function(){
		$('#result-data').hide();
		var access_token = $('#access_token').text();

		$.get('/get_data?access_token='+access_token,function(data){
			console.log(data);
			for (var i = data.users.length - 1; i >= 0; i--) {
				var username = data.users[i].username;
				var id = data.users[i].id;
				var profile_pic = data.users[i].profile_pic;
				data.users[i].profile_pic = '<img class="profile-pic" src="'+profile_pic+'">';
				data.users[i].username = '<a target="blank" href="http://instagram.com/'+username+'">'+username+'</a>';

				data.users[i].unfollow_button = '<button type="button" data-userid="'+id+'"class="btn btn-danger unfollow_button">Unfollow</button>';
			};
			$('#tabledata').bootstrapTable('load', data.users);
			$('#result-data').show();
			$('#loader').hide();
		});

		$("body").on("click", 'button.unfollow_button.btn-danger', function(e){
			var user_id = $(this).attr('data-userid');
			$(this).addClass('btn-primary').removeClass('btn-danger').text('Follow');

			var access_token = $('#access_token').text();
			$.get('/unfollow?access_token='+access_token+'&user_id='+user_id,function(data){			
				console.log(data);
			});
		});

		$("body").on("click", 'button.unfollow_button.btn-primary', function(e){
			var user_id = $(this).attr('data-userid');
			$(this).addClass('btn-danger').removeClass('btn-primary').text('Unfollow');
			$.get('/follow?access_token='+access_token+'&user_id='+user_id,function(data){			
				console.log(data);
			});
		});
	});
</script>
% include('footer.tpl')