% include('header.tpl')

  <h1>Instagram Feed Optimizer</h1>

  <p class="lead">The Instagram Feed Optimizer will gather data about the people you follow on Instagram, and help you make tough decisions about who to unfollow, based on their photo activity.</p>

  <a href="https://api.instagram.com/oauth/authorize/?client_id={{ client_id }}&redirect_uri={{ redirect_url }}&response_type=code&scope=basic+relationships" class="btn btn-primary text-center">Start by logging in with Instagram</a>

% include('footer.tpl')
